#card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    /* Centers the items horizontally */
}

#card-container div {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

img {
    width: 100%;
    display: block;

    border-radius: 4px;

}

.main-div {
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;

    background-color: #f5f5f5;

}

.main-div button {
    display: block;
    background: gray;
    color: white;
    padding: 10px 20px;
    /* Add padding to the button */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.main-div button:hover {
    background-color: #555;

}